<section class="u-align-center u-clearfix u-grey-5 u-section-1" id="sec-953c">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-size-60 u-white u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-1">Welcome</h3>
                            <div class="u-image u-image-circle u-image-1" data-image-width="2000" data-image-height="1333"></div>
                            <!-- User Registration Form starts -->
                            <div class="u-expanded-width-xs u-form u-login-control u-form-1">
                                <form action="#" #login="ngForm" (ngSubmit)="submit(login)" method="POST" class="u-clearfix u-form-custom-backend u-form-spacing-15 u-form-vertical u-inner-form " source="custom " name="form-3 " style="padding: 0px; ">
                                    <!-- <div class="u-form-group u-form-name ">
                                        <label for="username-5b0a " class="u-form-control-hidden u-label "></label>
                                        <input type="text " placeholder="Enter your Username " id="username-5b0a " name="username " class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle
                                    " required=" ">
                                    </div> -->
                                    <!-- {{login.form.valid}} -->
                                    <div class="u-form-email u-form-group">
                                        <label for="email-3b9a" class="u-form-control-hidden u-label ">Email</label>
                                        <input #email="ngModel" type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle
                                    u-text-black u-input-2" required ngModel>
                                    </div>
                                    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                                        <p *ngIf="email.errors.required ">Email Required!!!</p>
                                    </div>

                                    <div class="u-form-group u-form-password">
                                        <label for="password-5b0a" class="u-form-control-hidden u-label"></label>
                                        <input #password="ngModel" minlength="8" maxlength="20" type="password" placeholder="Enter your Password" id="password-5b0a" name="password" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle"
                                            required ngModel>
                                    </div>
                                    <div *ngIf="password.touched && password.invalid" class="alert alert-danger ">
                                        <p *ngIf="password.errors.required">Password Required!!!</p>
                                        <p *ngIf="password.errors.minlength">Password is Short!!!</p>
                                    </div>

                                    <!-- <div class="u-form-checkbox u-form-group ">
                                        <input type="checkbox " id="checkbox-5b0a " name="remember " value="On ">
                                        <label for="checkbox-5b0a " class="u-label ">Remember me</label>
                                    </div> -->
                                    <div class="u-align-center u-form-group u-form-submit">
                                        <button [disabled]="login.form.invalid" class="u-active-palette-1-light-1 u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-text-body-alt-color u-btn-1">login<br>
                                        </button>
                                        <input type="submit" value="submit" class="u-form-control-hidden">
                                    </div>
                                    <!-- <input type="hidden " value=" " name="recaptchaResponse "> -->
                                </form>
                            </div>
                            <!-- User Registration Form ends -->
                            <a routerLink="/signup" class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-btn u-button-style u-login-control u-login-forgot-password u-none u-text-palette-1-base u-btn-2">Don't have an account?</a>
                            <a class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-btn u-button-style u-login-control u-login-forgot-password u-none u-text-palette-1-base u-btn-3">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>